<h4 class='mt-5'>RSC Exercises</h4>

<div class='row mt-3'>
  <div class='col-lg-8 col-sm-12'>
    <ol>
      <li class='mb-4'>
        Write a program to find the sum of three numbers. The user enters three numbers; then the sum appears as output.

        <br/><br/>

        <span class='instr-count-suggestion'>
          Suggested instruction count: 9
        </span>
      </li>
      <li class='mb-4'>
        Write a program to average three numbers. The user enters the three numbers and then the average appears. The user does not enter the divisor 3.

        <br/><br/>

        <span class='instr-count-suggestion'>
          Suggested instruction count: 12
        </span>
      </li>
      <li class='mb-4'>
        Write a program that allows the user to enter the values for <expr>x</expr> and <expr>y</expr> and then outputs the value of <expr>x<sup>2</sup> + 2xy + y<sup>2</sup></expr>.

        <br/><br/>

        <span class='instr-count-suggestion'>
          Suggested instruction count: 16, possible in 9
        </span>
      </li>
      <li class='mb-4'>
        Write a program to allow the user to enter values for <expr>a</expr>, <expr>b</expr>, and <expr>c</expr> and then outputs the result of the following mathematical expression: <expr>3(a + bc) + bc</expr>.

        <br/><br/>

        <span class='instr-count-suggestion'>
          Suggested instruction count: 14
        </span>
      </li>
      <li class='mb-4'>
        Write a program to accept an input and then determine whether the input is zero, positive, or negative.
        <br/><br/>If the input is zero, output zero (0);
        <br/>if the input is positive, output one (1);
        <br/>if the input is negative, output two (2).

        <br/><br/>

        <span class='instr-count-suggestion'>
          Suggested instruction count: 10
        </span>
      </li>
      <li class='mb-4'>
        Write a program to accept an input and then determine whether the input is greater than 60, equal to 60, or less than 60.
        <br/><br/>If the input is exactly 60, output zero (0);
        <br/>if the input is greater than 60, output one (1);
        <br/>if the input is less than 60, output two (2).

        <br/><br/>

        <span class='instr-count-suggestion'>
          Suggested instruction count: 12
        </span>
      </li>
      <li class='mb-4'>
        Write a program which displays from 10 down to 1 in the output box, and then stops.

        <br/><br/>

        <span class='instr-count-suggestion'>
          Suggested instruction count: 7
        </span>
      </li>
      <li class='mb-4'>
        Write a program which counts from 1 to 10 in the output box, and then stops.

        <br/><br/>

        <span class='instr-count-suggestion'>
          Suggested instruction count: 10
        </span>
      </li>
      <li class='mb-4'>
        Write a program to accept an unknown number of inputs and count <em>negative</em> inputs. Have the user enter a zero to end input and trigger the printing of negative count.

        <br/><br/>

        <span class='instr-count-suggestion'>
          Suggested instruction count: 12
        </span>
      </li>
      <li class='mb-4'>
        Write a program that allows the user to enter any number of numbers and outputs the average of those numbers. Have the user enter a negative number to stop the entry process. Remember that you'll have to count how many numbers have been entered in your program, and you'll need to keep a sum of the values which have been input. Once the user is done entering numbers, the average is easy to calculate.

        <br/><br/>

        <span class='instr-count-suggestion'>
          Suggested instruction count: 17
        </span>
      </li>
      <li class='mb-4'>
        Write a program that allows a user to enter a single value and which outputs the number of times that two (2) divides <em>evenly</em> into the entered value. The output is always a whole number. If 6 is entered, 3 is output. If 9 is entered, 4 is output.

        <br/><br/>

        <span class='instr-count-suggestion'>
          Suggested instruction count: 13
        </span>
      </li>
      <li class='mb-4'>
        Write a program that allows a user to enter a number and then outputs the numbers that divide evenly into the number. For example, if 12 is entered, the program outputs 1, 2, 3, 4, 6, and 12. If 7 is entered, the program outputs 1 and 7.

        <br/><br/>

        <span class='instr-count-suggestion'>
          Suggested instruction count: 21
        </span>
      </li>
    </ol>
  </div>
</div>
